<!DOCTYPE html>
<html>

<head>
  <title>Stock Price Checker</title>
  <link id="favicon" rel="icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>

  <div id='testui' style='margin-left: 5%'>
    <header>
      <h1>
        Nasdaq Stock Price Checker
      </h1>
    </header>
    <div id="content">
      <div id='formField'>
        <h3>Get single price</h3>
        <form id="testForm2" class="border">
          <input type="text" name="stock" placeholder="goog" style="width: 100px" required=''>
          <button type="submit">Get Price!</button>
        </form>
        <form id="testForm" class="border">
          <h3>Compare two stocks</h3>
          <input type="text" name="stock" placeholder="goog" required=''>
          <input type="text" name="stock" placeholder="msft" required=''>
          <button type="submit">Get Price!</button>
        </form>
      </div>
      <div id="result">
      </div>
    </div>


  </div>

  <hr>
  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
    integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('#testForm').submit(function (e) {
        $.ajax({
          url: '/api/stock-prices',
          type: 'get',
          data: $('#testForm').serialize(),
          success: function (data) {
            if (data.stock1 == "No such stock exists" || data.stock2 == "No such stock exists") {
              $('#result').html('<h3>Error! No such stock exists</h3>')
            } else {
              $('#result').html("<h3>Price of " + data.stock2 + ": <div id='stock2'>" + data.price2 + "</div></h3> <br> <h3>Price of " + data.stock1 + ": <div id='stock1'>" + data.price1 + "</div></h3>")
                .ready(() => {
                  if (data.stock2 > data.stock1) {
                    $('#stock2').css("color", "green")
                    $('#stock1').css("color", "red")
                  } else if (data.stock1 > data.stock2) {
                    $('#stock2').css("color", "red")
                    $('#stock1').css("color", "green")
                  }
                })
            }

          }
        });
        e.preventDefault();
      });
      $('#testForm2').submit(function (e) {
        $.ajax({
          url: '/api/stock-prices',
          type: 'get',
          data: $('#testForm2').serialize(),
          success: function (data) {
            if (data.stock == "No such stock exists") {
              $('#result').html('<h3>Error! No such stock exists</h3>')
            } else {
              $('#result').html("<h3>Price of " + data.stock + ": <div id='stock2'>" + data.price + "</div></h3>")
            }
          }
        });
        e.preventDefault();
      });
    });
  </script>
</body>

</html>